<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./css/main.css">
  <link rel="stylesheet" href="./css/bootstrap/bootstrap.css">
  <link rel="stylesheet" href="./css/laydate/theme/default/laydate.css" media="all">
  <script src="./css/laydate/laydate.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17-beta.0/vue.js"></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script> -->
  <!-- <script src="https://cdn.bootcss.com/axios/0.19.0-beta.1/axios.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js"></script> -->

  <script src="./plugins/vue.js"></script>
  <script src="./plugins/jquery.js"></script>
  <script src="./plugins/axios.min.js"></script>
  <script src="./plugins/moment.js"></script>
  <title></title>
</head>
<body>
  <div id="main">
    <div class="row">
        <div class="col-xs-6">
            <h3 style="text-align: center;margin-top: 50px;"> 名单管理 </h3>
            <form class="form-horizontal" style="margin-top: 30px;margin-left: 50px;" @submit>
                 <div class="form-group">
                     <label >选择活动： </label> 
                        <select v-model="query.act">
                            <option value="">请选择活动</option>
                            <option v-for="item in activities" :value="item.id" :key="item.id">{{item.name}}</option>
                        </select>
                </div>

                <div class="form-group">
                    <label >号码表头： </label> 
                    <input class="form-control" type="text" placeholder="请逗号分隔" @change="writeTab">
                </div>

        
                 <div class="form-group" style="margin-left:70px">
                      <span v-for="item in selectList">
                        <label @change="getValue" >
                            <input type="checkbox" v-model="selectedStatus" :value="item" style="margin-left:5px">
                              {{item}}
                       </label>
                    </span>

                    <br>
                    <span>{{policies}}</span>
                </div>

                <div class="form-group upload" >
                     <label > 文件上传： </label>
                    <input type="file" id="fileUrl" accept="text/plain" name='filename' >
                 </div>
    
    
               <div class="form-group">
                  <button type="button" @click="checkForm" class="btn btn-primary" style="margin-right:40px">提交</button>
               </div>  

            </form>            
        </div>

        <div class="col-xs-6" style="display: none;">
            <h3 style="text-align: center;margin-top: 50px;"> 结果导出 </h3>
           <form class="form-horizontal" style="margin-top: 50px;margin-left: 50px;">
                <div class="form-group">
                        <label >选择活动： </label> 
                           <select v-model="query.nextAct">
                               <option value="">请选择活动</option>
                              <option v-for="item in activities" :value="item.id" :key="item.id">{{item.name}}</option>
                           </select>
               </div>

               <div class="form-group">
                    <label > 日期选择： </label>
                    <input type="text" class="layui-input form-control" id="get_laydate" v-model="query.time" style="width: 20%;" placeholder="请选择日期">
               </div>

               <div class="form-group" style="margin-top:50px;">
                    <button type="button" class="btn btn-primary" @click="clickDownload" >呼叫结果导出</button>
                    <a id="a-link-for-download" target="_blank"></a>
              </div>
            </form>
        </div>
    </div>  
    </div>
</body>
</html>
<script src="./app.js"></script>